
/* Reset  */

body {
    margin: 0;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav li{
    padding: 10px;
    font-family:'Open Sans', Arial, sans-serif;
    border-bottom: 1px black solid;
}

.no-bottom-border {
    border-bottom: none;
}

#link3 {
    order: 1;
}    

nav li a {
    color: black
    text-decoration: none;
}

@media (min-width: 600px) {
    nav ul {
        flex-direction: row;
        justify-content: end;
    }
}



/* Main section style */

h1,h3 {font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1 {
   font-weight: 500;
   font-size: 50px; 
}
h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
}